body {
    color: #000 !important;
}

a {
    text-decoration: none;
}
a:hover, a:active, a:visited {
    text-decoration: none !important;
}

nav {
    background-color: #6eb4ee !important;
}
nav ul a {
    font-size: 18px !important;
}

.form.login-form {
    position: relative;
    padding: 50px;
    margin: auto;
    width: 30%;
    top: 60px;
    background-color: white;
    margin-top: 50px;
  }
  
  .login-form .label{
    font-size: 2.5rem;
    color: #764abc !important;
  }

  .login-form .form-group {
      margin-bottom: 0px;
  }
  
  .login-form .form-group label {
      font-size: 2rem !important;
  }
 
  .login-form .form-group .invalid-feedback {
      color: red;
  }
  
.product-container, .product-details-container {
    margin-top: 75px !important;
}

.product-container h3, .product-container h5 {
    color: #080108 !important;
}

.product-details-container .card {
    width: 800px;
    height: 500px;
    
}

.product-details-container .card .card-image {
    width: 200px !important;
    height: 250px !important;
    float: left;
    margin-right: 15px;
} 

.card {
    width: 250px;
    float: left;
    margin: .5rem 0 1rem 2rem !important;
    height: 300px;
    padding-left: 10px;
}

.card .card-image {
    width: 100px !important;
    float: left;
    margin-right: 15px;
}

.card .card-content .card-title {
    color: #000 !important;
    font-size: 14px !important;
}

.card .card-content p {
    color: #3f053e;
}

nav i.material-icons {
    line-height: 40px !important;
}

.btn-floating.halfway-fab {
    bottom: 20px !important;
}

.btn-floating.halfway-left {
    position: absolute;
    right: 75px;
    bottom: 20px;
}

.collection-item {
    color: #000 !important;
    border: 1px solid #ccc;
    margin-right: 15px !important;
}

.collection .collection-item .item-img {
    width: 200px;
    height: 275px;
}
.collection .collection-item .item-img img {
    width: 100%;
    height: 100%;
}

.cart-icon {
    display: inline-flex;
    position: relative;
}
.cart-icon i.material-icons {
    line-height: 56px !important;
}
.cart-text {
    color: #f309cb;
    font-size: 20px !important;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -12px;
    right: -15px;
}